In [1]:

import pandas as pd 
import pyodbc
import warnings
warnings.simplefilter('ignore')
import sqlite3

C:\Users\troy\AppData\Local\Temp\ipykernel_48092\169482827.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
DB = {'servername': 'LAPTOPTK\SQLEXPRESS',
'database': 'DAD'}

export_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [3]:
# DB = {'servername': 'LAPTOP-3S422SS6\\SQLEXPRESS',
# 'database': 'DAD'}

# export_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB['servername'] +
#                              ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
# export_cursor = export_conn.cursor()
# export_cursor

In [4]:
Sales_connection= sqlite3.connect("go_sales.sqlite")
Crm_connection= sqlite3.connect("go_crm.sqlite")
Sales_connection

In [5]:
newQuery = "SELECT * FROM product"
product = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM product_type"
product_type = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM product_line"
product_line = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM sales_staff"
sales_staff = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM sales_branch"
sales_branch = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM retailer_site"
retailer_site = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM country"
country = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM order_header"
order_header = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM order_details"
order_details = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM SALES_TARGETData"
target = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM returned_item"
returned_item = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM return_reason"
return_reason = pd.read_sql(newQuery,Sales_connection)

newQuery = "SELECT * FROM country"
country_crm = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM retailer_type"
retailer_type = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM retailer_segment"
retailer_segment = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM retailer"
retailer = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM sales_territory"
sales_territory = pd.read_sql(newQuery,Crm_connection)

In [6]:
Sales_staff_connection=sqlite3.connect('go_staff.sqlite')
Sales_staff_connection

In [7]:
newQuery= "SELECT * FROM course"
course= pd.read_sql(newQuery,Sales_staff_connection)
newQuery= "SELECT * FROM sales_branch"
sales_branch=pd.read_sql(newQuery,Sales_staff_connection)
newQuery= "SELECT * FROM sales_staff"
sales_staff=pd.read_sql(newQuery,Sales_staff_connection)
newQuery= "SELECT * FROM satisfaction"
satisfaction=pd.read_sql(newQuery,Sales_staff_connection)
newQuery= "SELECT * FROM satisfaction_type"
satisfaction_type=pd.read_sql(newQuery,Sales_staff_connection)
newQuery= "SELECT * FROM training" 
training=pd.read_sql(newQuery,Sales_staff_connection)

In [8]:
date_dimensie = order_header['ORDER_DATE'].drop_duplicates()
date_dimensie

0       2020-04-14
1       2020-10-01
2       2020-04-21
3       2020-09-09
4       2020-04-10
           ...
5113    2021-02-12
5211    2021-01-05
5241    2020-12-02
5269    2022-11-16
5356    2021-01-02
Name: ORDER_DATE, Length: 914, dtype: object

In [9]:
order = pd.merge(order_details,order_header,left_on='ORDER_NUMBER',how='left',right_on='ORDER_NUMBER')
order_fact = order[['ORDER_NUMBER','ORDER_DETAIL_CODE','QUANTITY','UNIT_COST','UNIT_PRICE','UNIT_SALE_PRICE','PRODUCT_NUMBER','RETAILER_SITE_CODE','SALES_STAFF_CODE','ORDER_DATE']]
order_fact

,ORDER_NUMBER,ORDER_DETAIL_CODE,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,PRODUCT_NUMBER,RETAILER_SITE_CODE,SALES_STAFF_CODE,ORDER_DATE
0,8462,100000,16,16.1,22.54,22.54,96,334,95,2020-07-26
1,9111,100001,20,16.1,22.54,22.54,96,330,94,2020-05-29
2,8451,100002,24,16.1,22.54,22.54,96,328,94,2020-04-17
3,8453,100003,18,16.1,22.54,22.54,96,328,94,2020-08-19
4,8439,100004,20,16.1,22.54,22.54,96,326,95,2020-03-19
...,...,...,...,...,...,...,...,...,...,...
43058,8459,99995,146,2.76,5.55,5.55,95,333,95,2020-08-20
43059,8457,99996,172,2.76,5.55,5.55,95,333,95,2020-04-04
43060,9267,99997,192,2.76,5.55,5.55,95,334,95,2020-11-20
43061,8441,99998,192,2.76,5.55,5.55,95,326,95,2020-07-30
43062,8440,99999,22,16.1,22.54,22.54,96,326,95,2020-09-27

In [10]:
for index, row in Date_dimensie.iterrows():
    try:
        query = f"INSERT INTO DATE VALUES ({row['DATE_date']}, '{row['DATE_MONTH_nr']}', '{row['DATE_QUARTER_nr']}', '{row['DATE_YEAR_nr']}');"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)

export_conn.commit()
export_cursor.close()

NameError: name 'Date_dimensie' is not defined

In [17]:

merged_sales_staff = pd.merge(sales_staff, sales_staff, left_on='MANAGER_CODE', right_on='SALES_STAFF_CODE', suffixes=('_staff', '_manager'))

selected_columns = [
    'SALES_STAFF_CODE_staff',
    'FIRST_NAME_staff',
    'LAST_NAME_staff',
    'EXTENSION_staff',
    'EMAIL_staff',
    'WORK_PHONE_staff',
    'MANAGER_CODE_staff',
    'DATE_HIRED_staff',
    'SALES_BRANCH_CODE_staff',
    'FIRST_NAME_manager',
    'LAST_NAME_manager'
]

sales_staff_DIMENSION = merged_sales_staff[selected_columns].rename(columns={
    'FIRST_NAME_staff': 'FIRST_NAME',
    'LAST_NAME_staff': 'LAST_NAME',
    'FIRST_NAME_manager': 'MANAGER_FIRST_NAME',
    'LAST_NAME_manager': 'MANAGER_LAST_NAME'
})
sales_staff_DIMENSION['MANAGER_NAME'] = sales_staff_DIMENSION['MANAGER_FIRST_NAME'] + ' ' + sales_staff_DIMENSION['MANAGER_LAST_NAME']
sales_staff_DIMENSION.drop(columns=['MANAGER_FIRST_NAME', 'MANAGER_LAST_NAME'], inplace=True)

sales_staff_DIMENSION

,SALES_STAFF_CODE_staff,FIRST_NAME,LAST_NAME,EXTENSION_staff,EMAIL_staff,WORK_PHONE_staff,MANAGER_CODE_staff,DATE_HIRED_staff,SALES_BRANCH_CODE_staff,MANAGER_NAME
0,100,Tuomas,Savolainen,825,TSavolainen@grtd123.com,+358(0)17 - 433 127,18,23-Jul-1998 12:00:00 AM,31,Jörg Kunze
1,101,Chang-ho,Kim,1228,CKim@grtd123.com,82-2-778-6587,87,15-Dec-1998 12:00:00 AM,32,Kazumi Uragome
2,102,Jung-ho,Choi,2641,JChoi@grtd123.com,82-2-778-6587,87,27-Nov-1998 12:00:00 AM,32,Kazumi Uragome
3,103,Kwei-Ping,Kao,1541,KKwao@grtd123.com,886-2-2975-1988,87,07-Oct-1998 12:00:00 AM,33,Kazumi Uragome
4,104,Chin-Tsai,Fang,2311,CFon@grtd123.com,886-2-2975-1988,87,08-May-1996 12:00:00 AM,33,Kazumi Uragome
...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,325,TIglesias@grtd123.com,+35 94 322 3540,18,19-Feb-1998 12:00:00 AM,29,Jörg Kunze
98,96,Bayard,Lopes,3490,BLopes@grtd123.com,+55 (11) 344-4444,71,12-Aug-1997 12:00:00 AM,30,Estelle Johnson
99,97,Viviam,Barros,3364,VBarros@grtd123.com,+55 (11) 344-4444,96,10-Feb-2001 12:00:00 AM,30,Bayard Lopes
100,98,Eduardo,Guimarães,1442,EGuimaraes@grtd123.com,+55 (11) 344-4444,96,14-Feb-1999 12:00:00 AM,30,Bayard Lopes
101,99,Helena,Lindholm,489,HLindholm@grtd123.com,+358(0)17 - 433 127,18,17-Aug-1997 12:00:00 AM,31,Jörg Kunze