In [6]:

import pandas as pd 
import pyodbc
import warnings
warnings.simplefilter('ignore')
import sqlite3

In [5]:
DB = {'servername': 'LAPTOP-3S422SS6\\SQLEXPRESS',
'database': 'DAD'}

export_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [ ]:
DB = {'servername': 'LAPTOP-3S422SS6\\SQLEXPRESS',
'database': 'DAD'}

export_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [7]:
Sales_connection= sqlite3.connect("go_sales.sqlite")
Sales_connection

In [8]:
newQuery = "SELECT * FROM product"
product = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM product_type"
product_type = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM product_line"
product_line = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM sales_staff"
sales_staff = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM sales_branch"
sales_branch = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM retailer_site"
retailer_site = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM country"
country = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM order_header"
order_header = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM order_details"
order_details = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM SALES_TARGETData"
target = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM returned_item"
returned_item = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM return_reason"
return_reason = pd.read_sql(newQuery,Sales_connection)

In [20]:
date_dimensie = order['ORDER_DATE'].drop_duplicates()
date_dimensie

0        2020-07-26
1        2020-05-29
2        2020-04-17
3        2020-08-19
4        2020-03-19
            ...
38271    2021-12-14
38392    2022-06-16
39403    2020-12-17
39978    2020-08-01
41704    2022-08-21
Name: ORDER_DATE, Length: 914, dtype: object

In [16]:
order = pd.merge(order_details,order_header,left_on='ORDER_NUMBER',how='left',right_on='ORDER_NUMBER')
order_fact = order[['ORDER_NUMBER','ORDER_DETAIL_CODE','QUANTITY','UNIT_COST','UNIT_PRICE','UNIT_SALE_PRICE','PRODUCT_NUMBER','RETAILER_SITE_CODE','SALES_STAFF_CODE','ORDER_DATE']]
order_fact

,ORDER_NUMBER,ORDER_DETAIL_CODE,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,PRODUCT_NUMBER,RETAILER_SITE_CODE,SALES_STAFF_CODE,ORDER_DATE
0,8462,100000,16,16.1,22.54,22.54,96,334,95,2020-07-26
1,9111,100001,20,16.1,22.54,22.54,96,330,94,2020-05-29
2,8451,100002,24,16.1,22.54,22.54,96,328,94,2020-04-17
3,8453,100003,18,16.1,22.54,22.54,96,328,94,2020-08-19
4,8439,100004,20,16.1,22.54,22.54,96,326,95,2020-03-19
...,...,...,...,...,...,...,...,...,...,...
43058,8459,99995,146,2.76,5.55,5.55,95,333,95,2020-08-20
43059,8457,99996,172,2.76,5.55,5.55,95,333,95,2020-04-04
43060,9267,99997,192,2.76,5.55,5.55,95,334,95,2020-11-20
43061,8441,99998,192,2.76,5.55,5.55,95,326,95,2020-07-30
43062,8440,99999,22,16.1,22.54,22.54,96,326,95,2020-09-27

In [ ]:
for index, row in Date_dimensie.iterrows():
    try:
        query = f"INSERT INTO DATE VALUES ({row['DATE_date']}, '{row['DATE_MONTH_nr']}', '{row['DATE_QUARTER_nr']}', '{row['DATE_YEAR_nr']}');"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)

export_conn.commit()
export_cursor.close()