In [2]:

import pandas as pd 
import pyodbc
import warnings
warnings.simplefilter('ignore')
import sqlite3

C:\Users\diego\AppData\Local\Temp\ipykernel_16708\169482827.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
DB = {'servername': 'LAPTOP-3S422SS6\\SQLEXPRESS',
'database': 'DAD'}

export_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [ ]:
DB = {'servername': 'LAPTOP-3S422SS6\\SQLEXPRESS',
'database': 'DAD'}

export_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [4]:
Sales_connection= sqlite3.connect("go_sales.sqlite")
Crm_connection= sqlite3.connect("go_crm.sqlite")
Sales_connection

In [5]:
newQuery = "SELECT * FROM product"
product = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM product_type"
product_type = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM product_line"
product_line = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM sales_staff"
sales_staff = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM sales_branch"
sales_branch = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM retailer_site"
retailer_site = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM country"
country = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM order_header"
order_header = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM order_details"
order_details = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM SALES_TARGETData"
target = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM returned_item"
returned_item = pd.read_sql(newQuery,Sales_connection)
newQuery = "SELECT * FROM return_reason"
return_reason = pd.read_sql(newQuery,Sales_connection)

newQuery = "SELECT * FROM country"
country_crm = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM retailer_type"
retailer_type = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM retailer_segment"
retailer_segment = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM retailer"
retailer = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM sales_territory"
sales_territory = pd.read_sql(newQuery,Crm_connection)

In [20]:
date_dimensie = order_header['ORDER_DATE'].drop_duplicates()
date_dimensie

0        2020-07-26
1        2020-05-29
2        2020-04-17
3        2020-08-19
4        2020-03-19
            ...
38271    2021-12-14
38392    2022-06-16
39403    2020-12-17
39978    2020-08-01
41704    2022-08-21
Name: ORDER_DATE, Length: 914, dtype: object

In [6]:
product_merge = product.merge(product_type, left_on='PRODUCT_TYPE_CODE', right_on='PRODUCT_TYPE_CODE', how='left')
product_merge = product_merge.merge(product_line, left_on='PRODUCT_LINE_CODE', right_on='PRODUCT_LINE_CODE', how='left')
product_dimensie = product_merge[['PRODUCT_NUMBER', 'PRODUCT_TYPE_CODE', 'PRODUCT_NAME', 'DESCRIPTION', 'PRODUCT_TYPE_EN', 'PRODUCT_LINE_EN', 'INTRODUCTION_DATE', 'PRODUCTION_COST', 'MARGIN']]

product_dimensie['INTRODUCTION_DATE'] = pd.to_datetime(product_dimensie['INTRODUCTION_DATE']).dt.date
product_dimensie['PRODUCTION_COST'] = pd.to_numeric(product_dimensie['PRODUCTION_COST']).astype('float').round(2)
product_dimensie['MARGIN'] = pd.to_numeric(product_dimensie['MARGIN']).astype('float').round(2)

product_dimensie

,PRODUCT_NUMBER,PRODUCT_TYPE_CODE,PRODUCT_NAME,DESCRIPTION,PRODUCT_TYPE_EN,PRODUCT_LINE_EN,INTRODUCTION_DATE,PRODUCTION_COST,MARGIN
0,1,1,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",Cooking Gear,Camping Equipment,2011-02-15,4.00,0.33
1,10,1,TrailChef Utensils,"Spoon, fork and knife set made of a light yet ...",Cooking Gear,Camping Equipment,2011-02-15,10.00,0.40
2,100,17,Insect Bite Relief,The Insect Bite Relief helps the itching and s...,First Aid,Outdoor Protection,2011-02-15,3.00,0.50
3,101,18,Hailstorm Steel Irons,Iron is 17-4 stainless steel. Shafts are grap...,Irons,Golf Equipment,2019-12-15,305.54,0.43
4,102,18,Hailstorm Titanium Irons,Made entirely of pure titanium. The ultimate i...,Irons,Golf Equipment,2019-12-10,380.95,0.51
...,...,...,...,...,...,...,...,...,...
110,95,16,Sun Shield,"PABA free sunscreen, SPF 30, poison oak and iv...",Sunscreen,Outdoor Protection,2011-02-15,3.00,0.50
111,96,17,Compact Relief Kit,A personal first aid kit is recommended for ev...,First Aid,Outdoor Protection,2011-02-15,16.43,0.28
112,97,17,Deluxe Family Relief Kit,A complete medical kit suitable for families w...,First Aid,Outdoor Protection,2013-03-05,25.00,0.28
113,98,17,Calamine Relief,Use the Calamine Relief for allergic skin reac...,First Aid,Outdoor Protection,2011-02-15,3.00,0.50
114,99,17,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",First Aid,Outdoor Protection,2011-02-15,2.00,0.60

In [13]:
retailer_site_merge = pd.merge(retailer_site,country_crm,left_on='COUNTRY_CODE',how='left',right_on='COUNTRY_CODE')
retailer_site_merge = pd.merge(retailer_site_merge,sales_territory,left_on='SALES_TERRITORY_CODE',how='left',right_on='SALES_TERRITORY_CODE')
retailer_site_merge = pd.merge(retailer_site_merge,retailer,left_on='RETAILER_CODE',how='left',right_on='RETAILER_CODE')
retailer_site_merge = pd.merge(retailer_site_merge,retailer_type,left_on='RETAILER_TYPE_CODE',how='left',right_on='RETAILER_TYPE_CODE')

retailer_site_dimensie = retailer_site_merge[[
    'RETAILER_SITE_CODE', 'RETAILER_CODE', 'ADDRESS1', 'ADDRESS2',
    'ACTIVE_INDICATOR', 'COMPANY_NAME', 'RETAILER_TYPE_EN',
     'CITY', 'REGION', 'COUNTRY_EN', 'TERRITORY_NAME_EN'
]].copy()

retailer_site_dimensie['ACTIVE_INDICATOR'] = pd.to_numeric(product_dimensie['PRODUCTION_COST']).astype(int)

retailer_site_dimensie

,RETAILER_SITE_CODE,RETAILER_CODE,ADDRESS1,ADDRESS2,ACTIVE_INDICATOR,COMPANY_NAME,RETAILER_TYPE_EN,CITY,REGION,COUNTRY_EN,TERRITORY_NAME_EN
0,1,89,1117 Franklin Blvd,None,4.0,Rock Steady,Outdoors Shop,Winnipeg,Manitoba,Canada,Americas
1,10,92,"Suite 1500, 802 Docklands Street",None,10.0,VIP Department Stores,Department Store,Vancouver,British Columbia,Canada,Americas
2,100,95,4830 Princeton,Unit 2,3.0,Falcon Outfitters,Outdoors Shop,Albuquerque,New Mexico,United States,Americas
3,101,95,6630 Burnet Road,None,305.0,Falcon Outfitters,Outdoors Shop,Austin,Texas,United States,Americas
4,102,108,2189 Louisville Road,None,380.0,Trail Masters,Outdoors Shop,Independence,Kentucky,United States,Americas
...,...,...,...,...,...,...,...,...,...,...,...
386,95,106,932 Ohmey Avenue,None,NaN,Donovan's Sports,Sports Store,Los Angeles,California,United States,Americas
387,96,106,438 Kelson Road,None,NaN,Donovan's Sports,Sports Store,Los Angeles,California,United States,Americas
388,97,106,3410 Selson Avenue,None,NaN,Donovan's Sports,Sports Store,San Diego,California,United States,Americas
389,98,106,73 Stanley Avenue,None,NaN,Donovan's Sports,Sports Store,San Francisco,California,United States,Americas
390,99,106,37 Raleigh Avenue,None,NaN,Donovan's Sports,Sports Store,San Francisco,California,United States,Americas

In [16]:
order = pd.merge(order_details,order_header,left_on='ORDER_NUMBER',how='left',right_on='ORDER_NUMBER')
order_fact = order[['ORDER_NUMBER','ORDER_DETAIL_CODE','QUANTITY','UNIT_COST','UNIT_PRICE','UNIT_SALE_PRICE','PRODUCT_NUMBER','RETAILER_SITE_CODE','SALES_STAFF_CODE','ORDER_DATE']]
order_fact

,ORDER_NUMBER,ORDER_DETAIL_CODE,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,PRODUCT_NUMBER,RETAILER_SITE_CODE,SALES_STAFF_CODE,ORDER_DATE
0,8462,100000,16,16.1,22.54,22.54,96,334,95,2020-07-26
1,9111,100001,20,16.1,22.54,22.54,96,330,94,2020-05-29
2,8451,100002,24,16.1,22.54,22.54,96,328,94,2020-04-17
3,8453,100003,18,16.1,22.54,22.54,96,328,94,2020-08-19
4,8439,100004,20,16.1,22.54,22.54,96,326,95,2020-03-19
...,...,...,...,...,...,...,...,...,...,...
43058,8459,99995,146,2.76,5.55,5.55,95,333,95,2020-08-20
43059,8457,99996,172,2.76,5.55,5.55,95,333,95,2020-04-04
43060,9267,99997,192,2.76,5.55,5.55,95,334,95,2020-11-20
43061,8441,99998,192,2.76,5.55,5.55,95,326,95,2020-07-30
43062,8440,99999,22,16.1,22.54,22.54,96,326,95,2020-09-27

In [29]:
export_cursor = export_conn.cursor()  

for index, row in product_dimensie.iterrows():
    try:
        query = f"""
        INSERT INTO PRODUCT 
        (PRODUCT_id, PRODUCT_name, PRODUCT_description, PRODUCT_TYPE_name, PRODUCT_LINE_name, 
        PRODUCT_INTRODUCTION_DATE_date, PRODUCT_COST_nr, PRODUCT_MARGIN_nr) 
        VALUES 
        ({row['PRODUCT_NUMBER']}, '{row['PRODUCT_NAME'].replace("'", "''")}', 
        '{row['DESCRIPTION'].replace("'", "''")}', '{row['PRODUCT_TYPE_EN'].replace("'", "''")}', 
        '{row['PRODUCT_LINE_EN'].replace("'", "''")}', '{row['INTRODUCTION_DATE']}', 
        {row['PRODUCTION_COST']}, {row['MARGIN']});
        """
        export_cursor.execute(query)
    except pyodbc.Error as e:
        print("An error occurred:", e)
        print(query)

export_conn.commit()  
export_cursor.close()

In [ ]:
for index, row in Date_dimensie.iterrows():
    try:
        query = f"INSERT INTO DATE VALUES ({row['DATE_date']}, '{row['DATE_MONTH_nr']}', '{row['DATE_QUARTER_nr']}', '{row['DATE_YEAR_nr']}');"
        export_cursor.execute(query)
    except pyodbc.Error:
        print(query)

export_conn.commit()
export_cursor.close()