In [1]:

import pandas as pd 
import pyodbc
import warnings
warnings.simplefilter('ignore')
import sqlite3

C:\Users\diego\AppData\Local\Temp\ipykernel_2556\169482827.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
DB = {'servername': 'LAPTOP-3S422SS6\\SQLEXPRESS', 'database': 'DAD'}

conn_str = (
    'DRIVER={SQL Server};'
    'SERVER=' + DB['servername'] + ';'
    'DATABASE=' + DB['database'] + ';'
    'Trusted_Connection=yes;'
)

conn = pyodbc.connect(conn_str)

query = "SELECT * FROM ORDERR"
order = pd.read_sql_query(query, conn)

conn.close()

In [4]:
order

,ORDER_number_id,ORDER_detail_id,ORDER_Quantity,ORDER_unit_Cost,ORDER_Unit_price,ORDER_Unit_sale_price,Totale_omzet,ORDER_gross_profit,ORDER_profit_margin,ORDER_profit_per_product,ORDER_discount_amount,PRODUCT_number,RETAILER_SITE_id,SALES_STAFF_id,DATE_Order_date
0,47737,1638,84,4.38,6.59,6.59,553.56,185.64,33.54,2,0.00,1,21,44,2020-08-16
1,47738,1159,126,4.38,6.59,6.59,830.34,278.46,33.54,2,0.00,1,9,50,2020-04-05
2,47739,1171,122,4.38,6.59,6.03,735.66,201.30,27.36,1,68.32,1,19,50,2020-04-16
3,47740,1154,122,4.38,6.59,6.59,803.98,269.62,33.54,2,0.00,1,4,50,2020-10-01
4,47741,1205,272,4.38,6.59,5.26,1430.72,239.36,16.73,0,361.76,1,21,43,2020-04-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43058,115289,7631,70,6.00,9.00,9.00,630.00,210.00,33.33,3,0.00,112,335,96,2022-01-09
43059,115290,7627,44,6.00,12.00,9.00,396.00,132.00,33.33,3,132.00,113,335,96,2022-09-09
43060,115291,7630,8,80.00,200.00,140.00,1120.00,480.00,42.86,60,480.00,114,335,96,2022-03-13
43061,115292,7631,24,5.00,10.00,10.00,240.00,120.00,50.00,5,0.00,115,335,96,2022-01-09
43062,115293,7627,56,5.00,10.00,7.50,420.00,140.00,33.33,2,140.00,115,335,96,2022-09-09