In [1]:
import pandas as pd 
import pyodbc
import warnings
warnings.simplefilter('ignore')
import sqlite3

C:\Users\diego\AppData\Local\Temp\ipykernel_28152\1521701836.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
DB = {'servername': 'LAPTOP-3S422SS6\\SQLEXPRESS',
'database': 'DAD'}

export_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [4]:
Crm_connection= sqlite3.connect("go_crm.sqlite")

In [13]:
newQuery = "SELECT * FROM sales_demographic"
salesdemographic = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM age_group"
agegroup = pd.read_sql(newQuery,Crm_connection)
newQuery = "SELECT * FROM retailer"
retailer = pd.read_sql(newQuery,Crm_connection)

In [16]:
agegroup['age_group'] = agegroup['LOWER_AGE'] + '-'+ agegroup['UPPER_AGE']
salesdemographic

     DEMOGRAPHIC_CODE RETAILER_CODEMR AGE_GROUP_CODE SALES_PERCENT TRIAL222
0                   1               1              1            52        T
1                  10               2              4            16        T
2                 100              17              4            11        T
3                1000             164              3             6        T
4                1001             164              4             9        T
...               ...             ...            ...           ...      ...
2479              995             143              4             4        T
2480              996             143              5             5        T
2481              997             143              6             3        T
2482              998             164              1            32        T
2483              999             164              2            37        T

[2484 rows x 5 columns]

In [19]:
merge = pd.merge(salesdemographic, agegroup, left_on='AGE_GROUP_CODE', right_on='AGE_GROUP_CODE', how='left')
merge = pd.merge(merge, retailer, left_on='RETAILER_CODEMR', right_on='RETAILER_CODEMR', how='left')
merge = merge[['DEMOGRAPHIC_CODE', 'SALES_PERCENT', 'age_group', 'COMPANY_NAME',]]

In [21]:
merge_export_cursor = export_conn.cursor()

for index, row in merge.iterrows():
    if pd.notna(row['COMPANY_NAME']):  # Check if COMPANY_NAME is not NaN
        try:
            # Escape single quotes by replacing each single quote with two single quotes
            age_group = row['age_group'].replace("'", "''")
            company_name = row['COMPANY_NAME'].replace("'", "''")

            # Construct the INSERT query with escaped strings
            query = f"""
            INSERT INTO SALES_DEMOGRAPHIC
            (DEMOGRAPHIC_CODE, SALES_PERCENT, AGE_GROUP, COMPANY_NAME) 
            VALUES
            ({row['DEMOGRAPHIC_CODE']}, {row['SALES_PERCENT']}, '{age_group}', '{company_name}');
            """
            merge_export_cursor.execute(query)
        except pyodbc.Error as e:
            print("An error occurred:", e)
            print(query)  # This will print the failing SQL query
    else:
        # Optionally, print a message or handle rows with NaN COMPANY_NAME differently
        print(f"Skipping row {index} due to NaN COMPANY_NAME")

export_conn.commit()  # Commit the transactions
merge_export_cursor.close()  # Close the cursor

Skipping row 2 due to NaN COMPANY_NAME
Skipping row 3 due to NaN COMPANY_NAME
Skipping row 4 due to NaN COMPANY_NAME
Skipping row 5 due to NaN COMPANY_NAME
Skipping row 6 due to NaN COMPANY_NAME
Skipping row 7 due to NaN COMPANY_NAME
Skipping row 8 due to NaN COMPANY_NAME
Skipping row 9 due to NaN COMPANY_NAME
Skipping row 10 due to NaN COMPANY_NAME
Skipping row 11 due to NaN COMPANY_NAME
Skipping row 12 due to NaN COMPANY_NAME
Skipping row 13 due to NaN COMPANY_NAME
Skipping row 14 due to NaN COMPANY_NAME
Skipping row 15 due to NaN COMPANY_NAME
Skipping row 16 due to NaN COMPANY_NAME
Skipping row 17 due to NaN COMPANY_NAME
Skipping row 18 due to NaN COMPANY_NAME
Skipping row 19 due to NaN COMPANY_NAME
Skipping row 24 due to NaN COMPANY_NAME
Skipping row 33 due to NaN COMPANY_NAME
Skipping row 34 due to NaN COMPANY_NAME
Skipping row 35 due to NaN COMPANY_NAME
Skipping row 36 due to NaN COMPANY_NAME
Skipping row 37 due to NaN COMPANY_NAME
Skipping row 38 due to NaN COMPANY_NAME
Skipping row 39 due to NaN COMPANY_NAME
Skipping row 40 due to NaN COMPANY_NAME
Skipping row 41 due to NaN COMPANY_NAME
Skipping row 42 due to NaN COMPANY_NAME
Skipping row 43 due to NaN COMPANY_NAME
Skipping row 44 due to NaN COMPANY_NAME
Skipping row 45 due to NaN COMPANY_NAME
Skipping row 46 due to NaN COMPANY_NAME
Skipping row 47 due to NaN COMPANY_NAME
Skipping row 48 due to NaN COMPANY_NAME
Skipping row 49 due to NaN COMPANY_NAME
Skipping row 50 due to NaN COMPANY_NAME
Skipping row 51 due to NaN COMPANY_NAME
Skipping row 52 due to NaN COMPANY_NAME
Skipping row 53 due to NaN COMPANY_NAME
Skipping row 54 due to NaN COMPANY_NAME
Skipping row 55 due to NaN COMPANY_NAME
Skipping row 56 due to NaN COMPANY_NAME
Skipping row 57 due to NaN COMPANY_NAME
Skipping row 58 due to NaN COMPANY_NAME
Skipping row 59 due to NaN COMPANY_NAME
Skipping row 60 due to NaN COMPANY_NAME
Skipping row 61 due to NaN COMPANY_NAME
Skipping row 62 due to NaN COMPANY_NAME
Skipping row 63 due to NaN COMPANY_NAME
Skipping row 64 due to NaN COMPANY_NAME
Skipping row 65 due to NaN COMPANY_NAME
Skipping row 66 due to NaN COMPANY_NAME
Skipping row 67 due to NaN COMPANY_NAME
Skipping row 68 due to NaN COMPANY_NAME
Skipping row 69 due to NaN COMPANY_NAME
Skipping row 70 due to NaN COMPANY_NAME
Skipping row 71 due to NaN COMPANY_NAME
Skipping row 72 due to NaN COMPANY_NAME
Skipping row 73 due to NaN COMPANY_NAME
Skipping row 74 due to NaN COMPANY_NAME
Skipping row 75 due to NaN COMPANY_NAME
Skipping row 76 due to NaN COMPANY_NAME
Skipping row 77 due to NaN COMPANY_NAME
Skipping row 78 due to NaN COMPANY_NAME
Skipping row 79 due to NaN COMPANY_NAME
Skipping row 80 due to NaN COMPANY_NAME
Skipping row 81 due to NaN COMPANY_NAME
Skipping row 82 due to NaN COMPANY_NAME
Skipping row 83 due to NaN COMPANY_NAME
Skipping row 84 due to NaN COMPANY_NAME
Skipping row 85 due to NaN COMPANY_NAME
Skipping row 86 due to NaN COMPANY_NAME
Skipping row 87 due to NaN COMPANY_NAME
Skipping row 89 due to NaN COMPANY_NAME
Skipping row 100 due to NaN COMPANY_NAME
Skipping row 103 due to NaN COMPANY_NAME
Skipping row 104 due to NaN COMPANY_NAME
Skipping row 105 due to NaN COMPANY_NAME
Skipping row 106 due to NaN COMPANY_NAME
Skipping row 107 due to NaN COMPANY_NAME
Skipping row 108 due to NaN COMPANY_NAME
Skipping row 109 due to NaN COMPANY_NAME
Skipping row 110 due to NaN COMPANY_NAME
Skipping row 111 due to NaN COMPANY_NAME
Skipping row 112 due to NaN COMPANY_NAME
Skipping row 113 due to NaN COMPANY_NAME
Skipping row 114 due to NaN COMPANY_NAME
Skipping row 115 due to NaN COMPANY_NAME
Skipping row 116 due to NaN COMPANY_NAME
Skipping row 117 due to NaN COMPANY_NAME
Skipping row 118 due to NaN COMPANY_NAME
Skipping row 119 due to NaN COMPANY_NAME
Skipping row 120 due to NaN COMPANY_NAME
Skipping row 121 due to NaN COMPANY_NAME
Skipping row 122 due to NaN COMPANY_NAME
Skipping row 123 due to NaN COMPANY_NAME
Skipping row 124 due to NaN COMPANY_NAME
Skipping row 125 due to NaN COMPANY_NAME
Skipping row 126 due to NaN COMPANY_NAME
Skipping row 127 due to NaN COMPANY_NAME
Skipping row 128 due to NaN COMPANY_NAME
Skipping row 129 due to NaN COMPANY_NAME
Skipping row 130 due to NaN COMPANY_NAME
Skipping row 131 due to NaN COMPANY_NAME
Skipping row 132 due to NaN COMPANY_NAME
Skipping row 133 due to NaN COMPANY_NAME
Skipping row 134 due to NaN COMPANY_NAME
Skipping row 135 due to NaN COMPANY_NAME
Skipping row 136 due to NaN COMPANY_NAME
Skipping row 137 due to NaN COMPANY_NAME
Skipping row 138 due to NaN COMPANY_NAME
Skipping row 139 due to NaN COMPANY_NAME
Skipping row 140 due to NaN COMPANY_NAME
Skipping row 141 due to NaN COMPANY_NAME
Skipping row 142 due to NaN COMPANY_NAME
Skipping row 143 due to NaN COMPANY_NAME
Skipping row 144 due to NaN COMPANY_NAME
Skipping row 145 due to NaN COMPANY_NAME
Skipping row 146 due to NaN COMPANY_NAME
Skipping row 147 due to NaN COMPANY_NAME
Skipping row 148 due to NaN COMPANY_NAME
Skipping row 149 due to NaN COMPANY_NAME
Skipping row 150 due to NaN COMPANY_NAME
Skipping row 152 due to NaN COMPANY_NAME
Skipping row 153 due to NaN COMPANY_NAME
Skipping row 154 due to NaN COMPANY_NAME
Skipping row 155 due to NaN COMPANY_NAME
Skipping row 156 due to NaN COMPANY_NAME
Skipping row 157 due to NaN COMPANY_NAME
Skipping row 158 due to NaN COMPANY_NAME
Skipping row 159 due to NaN COMPANY_NAME
Skipping row 160 due to NaN COMPANY_NAME
Skipping row 161 due to NaN COMPANY_NAME
Skipping row 162 due to NaN COMPANY_NAME
Skipping row 163 due to NaN COMPANY_NAME
Skipping row 164 due to NaN COMPANY_NAME
Skipping row 165 due to NaN COMPANY_NAME
Skipping row 166 due to NaN COMPANY_NAME
Skipping row 167 due to NaN COMPANY_NAME
Skipping row 168 due to NaN COMPANY_NAME
Skipping row 169 due to NaN COMPANY_NAME
Skipping row 170 due to NaN COMPANY_NAME
Skipping row 171 due to NaN COMPANY_NAME
Skipping row 172 due to NaN COMPANY_NAME
Skipping row 173 due to NaN COMPANY_NAME
Skipping row 174 due to NaN COMPANY_NAME
Skipping row 175 due to NaN COMPANY_NAME
Skipping row 176 due to NaN COMPANY_NAME
Skipping row 177 due to NaN COMPANY_NAME
Skipping row 178 due to NaN COMPANY_NAME
Skipping row 179 due to NaN COMPANY_NAME
Skipping row 180 due to NaN COMPANY_NAME
Skipping row 181 due to NaN COMPANY_NAME
Skipping row 182 due to NaN COMPANY_NAME
Skipping row 183 due to NaN COMPANY_NAME
Skipping row 184 due to NaN COMPANY_NAME
Skipping row 185 due to NaN COMPANY_NAME
Skipping row 186 due to NaN COMPANY_NAME
Skipping row 187 due to NaN COMPANY_NAME
Skipping row 188 due to NaN COMPANY_NAME
Skipping row 189 due to NaN COMPANY_NAME
Skipping row 190 due to NaN COMPANY_NAME
Skipping row 191 due to NaN COMPANY_NAME
Skipping row 192 due to NaN COMPANY_NAME
Skipping row 193 due to NaN COMPANY_NAME
Skipping row 194 due to NaN COMPANY_NAME
Skipping row 195 due to NaN COMPANY_NAME
Skipping row 196 due to NaN COMPANY_NAME
Skipping row 197 due to NaN COMPANY_NAME
Skipping row 198 due to NaN COMPANY_NAME
Skipping row 199 due to NaN COMPANY_NAME
Skipping row 200 due to NaN COMPANY_NAME
Skipping row 201 due to NaN COMPANY_NAME
Skipping row 202 due to NaN COMPANY_NAME
Skipping row 203 due to NaN COMPANY_NAME
Skipping row 204 due to NaN COMPANY_NAME
Skipping row 205 due to NaN COMPANY_NAME
Skipping row 206 due to NaN COMPANY_NAME
Skipping row 207 due to NaN COMPANY_NAME
Skipping row 208 due to NaN COMPANY_NAME
Skipping row 209 due to NaN COMPANY_NAME
Skipping row 210 due to NaN COMPANY_NAME
Skipping row 211 due to NaN COMPANY_NAME
Skipping row 212 due to NaN COMPANY_NAME
Skipping row 213 due to NaN COMPANY_NAME
Skipping row 214 due to NaN COMPANY_NAME
Skipping row 215 due to NaN COMPANY_NAME
Skipping row 216 due to NaN COMPANY_NAME
Skipping row 217 due to NaN COMPANY_NAME
Skipping row 218 due to NaN COMPANY_NAME
Skipping row 219 due to NaN COMPANY_NAME
Skipping row 220 due to NaN COMPANY_NAME
Skipping row 221 due to NaN COMPANY_NAME
Skipping row 222 due to NaN COMPANY_NAME
Skipping row 223 due to NaN COMPANY_NAME
Skipping row 224 due to NaN COMPANY_NAME
Skipping row 225 due to NaN COMPANY_NAME
Skipping row 226 due to NaN COMPANY_NAME
Skipping row 229 due to NaN COMPANY_NAME
Skipping row 240 due to NaN COMPANY_NAME
Skipping row 251 due to NaN COMPANY_NAME
Skipping row 263 due to NaN COMPANY_NAME
Skipping row 274 due to NaN COMPANY_NAME
Skipping row 275 due to NaN COMPANY_NAME
Skipping row 276 due to NaN COMPANY_NAME
Skipping row 277 due to NaN COMPANY_NAME
Skipping row 278 due to NaN COMPANY_NAME
Skipping row 279 due to NaN COMPANY_NAME
Skipping row 280 due to NaN COMPANY_NAME
Skipping row 281 due to NaN COMPANY_NAME
Skipping row 282 due to NaN COMPANY_NAME
Skipping row 283 due to NaN COMPANY_NAME
Skipping row 284 due to NaN COMPANY_NAME
Skipping row 285 due to NaN COMPANY_NAME
Skipping row 286 due to NaN COMPANY_NAME
Skipping row 287 due to NaN COMPANY_NAME
Skipping row 288 due to NaN COMPANY_NAME
Skipping row 289 due to NaN COMPANY_NAME
Skipping row 290 due to NaN COMPANY_NAME
Skipping row 291 due to NaN COMPANY_NAME
Skipping row 292 due to NaN COMPANY_NAME
Skipping row 293 due to NaN COMPANY_NAME
Skipping row 294 due to NaN COMPANY_NAME
Skipping row 295 due to NaN COMPANY_NAME
Skipping row 297 due to NaN COMPANY_NAME
Skipping row 298 due to NaN COMPANY_NAME
Skipping row 299 due to NaN COMPANY_NAME
Skipping row 300 due to NaN COMPANY_NAME
Skipping row 301 due to NaN COMPANY_NAME
Skipping row 302 due to NaN COMPANY_NAME
Skipping row 303 due to NaN COMPANY_NAME
Skipping row 304 due to NaN COMPANY_NAME
Skipping row 305 due to NaN COMPANY_NAME
Skipping row 306 due to NaN COMPANY_NAME
Skipping row 321 due to NaN COMPANY_NAME
Skipping row 322 due to NaN COMPANY_NAME
Skipping row 323 due to NaN COMPANY_NAME
Skipping row 324 due to NaN COMPANY_NAME
Skipping row 325 due to NaN COMPANY_NAME
Skipping row 326 due to NaN COMPANY_NAME
Skipping row 327 due to NaN COMPANY_NAME
Skipping row 328 due to NaN COMPANY_NAME
Skipping row 330 due to NaN COMPANY_NAME
Skipping row 331 due to NaN COMPANY_NAME
Skipping row 332 due to NaN COMPANY_NAME
Skipping row 333 due to NaN COMPANY_NAME
Skipping row 334 due to NaN COMPANY_NAME
Skipping row 335 due to NaN COMPANY_NAME
Skipping row 336 due to NaN COMPANY_NAME
Skipping row 337 due to NaN COMPANY_NAME
Skipping row 338 due to NaN COMPANY_NAME
Skipping row 339 due to NaN COMPANY_NAME
Skipping row 341 due to NaN COMPANY_NAME
Skipping row 342 due to NaN COMPANY_NAME
Skipping row 343 due to NaN COMPANY_NAME
Skipping row 344 due to NaN COMPANY_NAME
Skipping row 345 due to NaN COMPANY_NAME
Skipping row 346 due to NaN COMPANY_NAME
Skipping row 347 due to NaN COMPANY_NAME
Skipping row 348 due to NaN COMPANY_NAME
Skipping row 349 due to NaN COMPANY_NAME
Skipping row 350 due to NaN COMPANY_NAME
Skipping row 352 due to NaN COMPANY_NAME
Skipping row 353 due to NaN COMPANY_NAME
Skipping row 354 due to NaN COMPANY_NAME
Skipping row 355 due to NaN COMPANY_NAME
Skipping row 356 due to NaN COMPANY_NAME
Skipping row 357 due to NaN COMPANY_NAME
Skipping row 358 due to NaN COMPANY_NAME
Skipping row 359 due to NaN COMPANY_NAME
Skipping row 360 due to NaN COMPANY_NAME
Skipping row 361 due to NaN COMPANY_NAME
Skipping row 363 due to NaN COMPANY_NAME
Skipping row 364 due to NaN COMPANY_NAME
Skipping row 365 due to NaN COMPANY_NAME
Skipping row 366 due to NaN COMPANY_NAME
Skipping row 367 due to NaN COMPANY_NAME
Skipping row 368 due to NaN COMPANY_NAME
Skipping row 369 due to NaN COMPANY_NAME
Skipping row 370 due to NaN COMPANY_NAME
Skipping row 371 due to NaN COMPANY_NAME
Skipping row 372 due to NaN COMPANY_NAME
Skipping row 375 due to NaN COMPANY_NAME
Skipping row 376 due to NaN COMPANY_NAME
Skipping row 377 due to NaN COMPANY_NAME
Skipping row 378 due to NaN COMPANY_NAME
Skipping row 379 due to NaN COMPANY_NAME
Skipping row 380 due to NaN COMPANY_NAME
Skipping row 388 due to NaN COMPANY_NAME
Skipping row 389 due to NaN COMPANY_NAME
Skipping row 390 due to NaN COMPANY_NAME
Skipping row 391 due to NaN COMPANY_NAME
Skipping row 392 due to NaN COMPANY_NAME
Skipping row 393 due to NaN COMPANY_NAME
Skipping row 394 due to NaN COMPANY_NAME
Skipping row 395 due to NaN COMPANY_NAME
Skipping row 397 due to NaN COMPANY_NAME
Skipping row 398 due to NaN COMPANY_NAME
Skipping row 399 due to NaN COMPANY_NAME
Skipping row 400 due to NaN COMPANY_NAME
Skipping row 401 due to NaN COMPANY_NAME
Skipping row 402 due to NaN COMPANY_NAME
Skipping row 403 due to NaN COMPANY_NAME
Skipping row 404 due to NaN COMPANY_NAME
Skipping row 405 due to NaN COMPANY_NAME
Skipping row 406 due to NaN COMPANY_NAME
Skipping row 414 due to NaN COMPANY_NAME
Skipping row 415 due to NaN COMPANY_NAME
Skipping row 416 due to NaN COMPANY_NAME
Skipping row 417 due to NaN COMPANY_NAME
Skipping row 419 due to NaN COMPANY_NAME
Skipping row 420 due to NaN COMPANY_NAME
Skipping row 421 due to NaN COMPANY_NAME
Skipping row 422 due to NaN COMPANY_NAME
Skipping row 423 due to NaN COMPANY_NAME
Skipping row 424 due to NaN COMPANY_NAME
Skipping row 425 due to NaN COMPANY_NAME
Skipping row 426 due to NaN COMPANY_NAME
Skipping row 427 due to NaN COMPANY_NAME
Skipping row 428 due to NaN COMPANY_NAME
Skipping row 430 due to NaN COMPANY_NAME
Skipping row 431 due to NaN COMPANY_NAME
Skipping row 432 due to NaN COMPANY_NAME
Skipping row 433 due to NaN COMPANY_NAME
Skipping row 441 due to NaN COMPANY_NAME
Skipping row 442 due to NaN COMPANY_NAME
Skipping row 443 due to NaN COMPANY_NAME
Skipping row 444 due to NaN COMPANY_NAME
Skipping row 445 due to NaN COMPANY_NAME
Skipping row 446 due to NaN COMPANY_NAME
Skipping row 454 due to NaN COMPANY_NAME
Skipping row 455 due to NaN COMPANY_NAME
Skipping row 456 due to NaN COMPANY_NAME
Skipping row 457 due to NaN COMPANY_NAME
Skipping row 458 due to NaN COMPANY_NAME
Skipping row 459 due to NaN COMPANY_NAME
Skipping row 460 due to NaN COMPANY_NAME
Skipping row 461 due to NaN COMPANY_NAME
Skipping row 463 due to NaN COMPANY_NAME
Skipping row 464 due to NaN COMPANY_NAME
Skipping row 465 due to NaN COMPANY_NAME
Skipping row 466 due to NaN COMPANY_NAME
Skipping row 467 due to NaN COMPANY_NAME
Skipping row 468 due to NaN COMPANY_NAME
Skipping row 469 due to NaN COMPANY_NAME
Skipping row 470 due to NaN COMPANY_NAME
Skipping row 471 due to NaN COMPANY_NAME
Skipping row 472 due to NaN COMPANY_NAME
Skipping row 474 due to NaN COMPANY_NAME
Skipping row 475 due to NaN COMPANY_NAME
Skipping row 476 due to NaN COMPANY_NAME
Skipping row 477 due to NaN COMPANY_NAME
Skipping row 478 due to NaN COMPANY_NAME
Skipping row 479 due to NaN COMPANY_NAME
Skipping row 480 due to NaN COMPANY_NAME
Skipping row 481 due to NaN COMPANY_NAME
Skipping row 482 due to NaN COMPANY_NAME
Skipping row 483 due to NaN COMPANY_NAME
Skipping row 486 due to NaN COMPANY_NAME
Skipping row 487 due to NaN COMPANY_NAME
Skipping row 488 due to NaN COMPANY_NAME
Skipping row 489 due to NaN COMPANY_NAME
Skipping row 490 due to NaN COMPANY_NAME
Skipping row 491 due to NaN COMPANY_NAME
Skipping row 492 due to NaN COMPANY_NAME
Skipping row 493 due to NaN COMPANY_NAME
Skipping row 513 due to NaN COMPANY_NAME
Skipping row 515 due to NaN COMPANY_NAME
Skipping row 516 due to NaN COMPANY_NAME
Skipping row 517 due to NaN COMPANY_NAME
Skipping row 518 due to NaN COMPANY_NAME
Skipping row 519 due to NaN COMPANY_NAME
Skipping row 520 due to NaN COMPANY_NAME
Skipping row 521 due to NaN COMPANY_NAME
Skipping row 522 due to NaN COMPANY_NAME
Skipping row 523 due to NaN COMPANY_NAME
Skipping row 524 due to NaN COMPANY_NAME
Skipping row 526 due to NaN COMPANY_NAME
Skipping row 527 due to NaN COMPANY_NAME
Skipping row 528 due to NaN COMPANY_NAME
Skipping row 529 due to NaN COMPANY_NAME
Skipping row 530 due to NaN COMPANY_NAME
Skipping row 531 due to NaN COMPANY_NAME
Skipping row 532 due to NaN COMPANY_NAME
Skipping row 533 due to NaN COMPANY_NAME
Skipping row 534 due to NaN COMPANY_NAME
Skipping row 535 due to NaN COMPANY_NAME
Skipping row 537 due to NaN COMPANY_NAME
Skipping row 538 due to NaN COMPANY_NAME
Skipping row 539 due to NaN COMPANY_NAME
Skipping row 540 due to NaN COMPANY_NAME
Skipping row 541 due to NaN COMPANY_NAME
Skipping row 542 due to NaN COMPANY_NAME
Skipping row 543 due to NaN COMPANY_NAME
Skipping row 544 due to NaN COMPANY_NAME
Skipping row 545 due to NaN COMPANY_NAME
Skipping row 546 due to NaN COMPANY_NAME
Skipping row 549 due to NaN COMPANY_NAME
Skipping row 550 due to NaN COMPANY_NAME
Skipping row 551 due to NaN COMPANY_NAME
Skipping row 552 due to NaN COMPANY_NAME
Skipping row 553 due to NaN COMPANY_NAME
Skipping row 554 due to NaN COMPANY_NAME
Skipping row 555 due to NaN COMPANY_NAME
Skipping row 556 due to NaN COMPANY_NAME
Skipping row 557 due to NaN COMPANY_NAME
Skipping row 558 due to NaN COMPANY_NAME
Skipping row 560 due to NaN COMPANY_NAME
Skipping row 561 due to NaN COMPANY_NAME
Skipping row 562 due to NaN COMPANY_NAME
Skipping row 563 due to NaN COMPANY_NAME
Skipping row 564 due to NaN COMPANY_NAME
Skipping row 565 due to NaN COMPANY_NAME
Skipping row 566 due to NaN COMPANY_NAME
Skipping row 567 due to NaN COMPANY_NAME
Skipping row 568 due to NaN COMPANY_NAME
Skipping row 569 due to NaN COMPANY_NAME
Skipping row 570 due to NaN COMPANY_NAME
Skipping row 571 due to NaN COMPANY_NAME
Skipping row 572 due to NaN COMPANY_NAME
Skipping row 573 due to NaN COMPANY_NAME
Skipping row 574 due to NaN COMPANY_NAME
Skipping row 575 due to NaN COMPANY_NAME
Skipping row 581 due to NaN COMPANY_NAME
Skipping row 590 due to NaN COMPANY_NAME
Skipping row 591 due to NaN COMPANY_NAME
Skipping row 592 due to NaN COMPANY_NAME
Skipping row 593 due to NaN COMPANY_NAME
Skipping row 594 due to NaN COMPANY_NAME
Skipping row 595 due to NaN COMPANY_NAME
Skipping row 596 due to NaN COMPANY_NAME
Skipping row 597 due to NaN COMPANY_NAME
Skipping row 598 due to NaN COMPANY_NAME
Skipping row 599 due to NaN COMPANY_NAME
Skipping row 600 due to NaN COMPANY_NAME
Skipping row 601 due to NaN COMPANY_NAME
Skipping row 602 due to NaN COMPANY_NAME
Skipping row 603 due to NaN COMPANY_NAME
Skipping row 604 due to NaN COMPANY_NAME
Skipping row 605 due to NaN COMPANY_NAME
Skipping row 606 due to NaN COMPANY_NAME
Skipping row 607 due to NaN COMPANY_NAME
Skipping row 608 due to NaN COMPANY_NAME
Skipping row 609 due to NaN COMPANY_NAME
Skipping row 610 due to NaN COMPANY_NAME
Skipping row 611 due to NaN COMPANY_NAME
Skipping row 612 due to NaN COMPANY_NAME
Skipping row 613 due to NaN COMPANY_NAME
Skipping row 614 due to NaN COMPANY_NAME
Skipping row 615 due to NaN COMPANY_NAME
Skipping row 616 due to NaN COMPANY_NAME
Skipping row 617 due to NaN COMPANY_NAME
Skipping row 618 due to NaN COMPANY_NAME
Skipping row 619 due to NaN COMPANY_NAME
Skipping row 620 due to NaN COMPANY_NAME
Skipping row 621 due to NaN COMPANY_NAME
Skipping row 622 due to NaN COMPANY_NAME
Skipping row 625 due to NaN COMPANY_NAME
Skipping row 630 due to NaN COMPANY_NAME
Skipping row 631 due to NaN COMPANY_NAME
Skipping row 632 due to NaN COMPANY_NAME
Skipping row 633 due to NaN COMPANY_NAME
Skipping row 634 due to NaN COMPANY_NAME
Skipping row 635 due to NaN COMPANY_NAME
Skipping row 636 due to NaN COMPANY_NAME
Skipping row 637 due to NaN COMPANY_NAME
Skipping row 638 due to NaN COMPANY_NAME
Skipping row 639 due to NaN COMPANY_NAME
Skipping row 640 due to NaN COMPANY_NAME
Skipping row 641 due to NaN COMPANY_NAME
Skipping row 642 due to NaN COMPANY_NAME
Skipping row 647 due to NaN COMPANY_NAME
Skipping row 650 due to NaN COMPANY_NAME
Skipping row 651 due to NaN COMPANY_NAME
Skipping row 652 due to NaN COMPANY_NAME
Skipping row 653 due to NaN COMPANY_NAME
Skipping row 654 due to NaN COMPANY_NAME
Skipping row 655 due to NaN COMPANY_NAME
Skipping row 656 due to NaN COMPANY_NAME
Skipping row 657 due to NaN COMPANY_NAME
Skipping row 658 due to NaN COMPANY_NAME
Skipping row 659 due to NaN COMPANY_NAME
Skipping row 660 due to NaN COMPANY_NAME
Skipping row 661 due to NaN COMPANY_NAME
Skipping row 662 due to NaN COMPANY_NAME
Skipping row 663 due to NaN COMPANY_NAME
Skipping row 664 due to NaN COMPANY_NAME
Skipping row 665 due to NaN COMPANY_NAME