In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import math
import matplotlib.pyplot as plt
import warnings
import numpy as np
warnings.simplefilter('ignore')
import sqlite3

C:\Users\diego\AppData\Local\Temp\ipykernel_5024\1139840685.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
Sales_connection= sqlite3.connect("go_sales.sqlite")
Crm_connection= sqlite3.connect("go_crm.sqlite")
newQuery = "SELECT * FROM sales_branch"
sales_branch = pd.read_sql(newQuery,Sales_connection)

newQuery = "SELECT * FROM country"
country_crm = pd.read_sql(newQuery,Crm_connection)

In [15]:
df = pd.merge(sales_branch, country_crm, on='COUNTRY_CODE', how='inner')
df = merged_table[['REGION', 'COUNTRY_CODE', 'SALES_TERRITORY_CODE']]
df

           REGION COUNTRY_CODE SALES_TERRITORY_CODE
0            None            2                    6
1            None            2                    6
2            None           10                    5
3         Alberta            4                    1
4         Ontario            4                    1
5   Massachusetts            3                    1
6      Washington            3                    1
7      California            3                    1
8         Florida            3                    1
9            None            1                    6
10         México           20                    1
11          Tokyo           11                    4
12          Osaka           11                    4
13            VIC           16                    4
14        Vizcaya           19                    7
15             SP           21                    1
16           None           22                    5
17           None           13                    4
18         Taipei           12                    4
19           None           14                    4
20           None            9                    6
21  West Midlands            9                    6
22           None            8                    6
23           None           17                    6
24           None            5                    7
25           None            1                    6
26           None            6                    7
27  Noord-Holland            7                    5

In [16]:
df.dtypes

REGION                  object
COUNTRY_CODE            object
SALES_TERRITORY_CODE    object
dtype: object

In [17]:
dummies_dataframe = pd.get_dummies(df)
dummies_dataframe

,REGION_Alberta,REGION_California,REGION_Florida,REGION_Massachusetts,REGION_México,REGION_Noord-Holland,REGION_Ontario,REGION_Osaka,REGION_SP,REGION_Taipei,...,COUNTRY_CODE_5,COUNTRY_CODE_6,COUNTRY_CODE_7,COUNTRY_CODE_8,COUNTRY_CODE_9,SALES_TERRITORY_CODE_1,SALES_TERRITORY_CODE_4,SALES_TERRITORY_CODE_5,SALES_TERRITORY_CODE_6,SALES_TERRITORY_CODE_7
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
5,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
7,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
8,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
10,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
18,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
24,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
27,False,False,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False

   COUNTRY_CODE      COUNTRY_EN FLAG_IMAGE SALES_TERRITORY_CODE TRIAL219
0             1          France        F01                    6        T
1            10          Sweden        F10                    5        T
2            11           Japan        F11                    4        T
3            12          Taiwan        F12                    4        T
4            13           Korea        F13                    4        T
5            14           China        F14                    4        T
6            16       Australia        F15                    4        T
7            17         Belgium        F16                    6        T
8            18         Denmark        F17                    5        T
9            19           Spain        F18                    7        T
10            2         Germany        F02                    6        T
11           20          Mexico        F19                    1        T
12           21          Brazil        F20                    1        T
13           22         Finland        F21                    5        T
14            3   United States        F03                    1        T
15            4          Canada        F04                    1        T
16            5         Austria        F05                    7        T
17            6           Italy        F06                    7        T
18            7     Netherlands        F07                    5        T
19            8     Switzerland        F08                    6        T
20            9  United Kingdom        F09                    6        T

hiertussen

In [ ]:
kmeans = KMeans(n_clusters = 6, random_state = 42)
prediction_results = kmeans.fit_predict(df)
prediction_results

In [ ]:
kmeans_centra = pd.DataFrame(kmeans.cluster_centers_)
kmeans_centra

In [ ]:
for i in range(len(kmeans_centra.columns)):
    kmeans_centra = kmeans_centra.rename(columns = {i : f'{df.columns[i]}'})
    
kmeans_centra

In [ ]:
for src_index, _ in df.iterrows():
    euclidian_distances = dict()
    print(f"Afstand van bronindex {src_index} tot...")

    for centrumindex, _ in kmeans_centra.iterrows():
        print(f"\tCentrumindex {centrumindex}:")
        euclidian_sum = 0

        for column_name in kmeans_centra.columns:
            current_difference = df.at[src_index, column_name] - kmeans_centra.at[centrumindex, column_name]
            print(f'\t\t{df.at[src_index, column_name]} - {kmeans_centra.at[centrumindex, column_name]} = {current_difference}')
            euclidian_sum += current_difference ** 2
        
        print(f'\tTotale euclidische som: {euclidian_sum}')
        euclidian_distance = math.sqrt(euclidian_sum)
        print(f'\tEuclidische afstand: {euclidian_distance}')
        euclidian_distances[centrumindex] = euclidian_distance
        print('------------------------------------------------')
    
    print(euclidian_distances)
    centrum_number = min(euclidian_distances, key = euclidian_distances.get)
    print(centrum_number)
    df.at[src_index, 'Centrum'] = centrum_number
    print("================================================")

df

In [ ]:
plt.scatter(df['Age'], df['Centrum'], color = 'k')
plt.show()

In [ ]:
df.groupby('Centrum', as_index = False)['Centrum'].count()